:root {
  /* palatte */
  --base-color: #658dc6;
  --baby-blue: #b5c7d3;
  --pantone: #a58d7f;
  --peach: #f5b895;
  --cornHusk: #fee6c4;
  --monument: #84898c;
  --font-color: rgb(65, 68, 100);

  /* font family */
  --numbers: "PT Serif", serif;

  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  common style ---> */
body {
  /* height: 100vh; */
  /* color: #f1d7bd; */
  background-color: var(--cornHusk);
  font-family: "Handlee", cursive;
  /* color: var(--font-color); */
}

.numbers {
  font-family: var(--numbers);
}

h2 {
  text-align: center;
  border-bottom: 0.5px dashed var(--font-color);
  margin: 1rem 2rem 1rem 2rem;
}

label {
  display: inline-block;
  margin: 5px 0;
  font-weight: 800;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 0.8rem;
  background-color: #e7f2ff;
}

.btn {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border: 0;
  display: block;
  margin: 10px 0 30px;
}
/* <--- common style */

.conatiner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
  margin: 1rem 0;
}

.conatiner > div,
header {
  padding: 1rem;
  color: var(--font-color);
}

/* Header div ---> */
header {
  background-color: var(--pantone);
  color: var(--cornHusk);
}

.title {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 3.5rem;
}
/* <--- Header div */

/* Balance div ---> */
.balance {
  background-color: var(--baby-blue);
  /* position: relative; */
}

/* .reset-btn {
  position: absolute;
  top: 6rem;
  right: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--pantone);
  color: rgb(255, 219, 204);
} */

.balance-tracker {
  background-color: #e7f2ff;
  box-shadow: var(--box--shadow);
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-radius: 5px;
}

.balance-tracker > div {
  flex: 1;
  text-align: center;
}

.balance-tracker > div:first-of-type {
  border-right: 1px solid var(--monument);
}

.money {
  font-size: 2;
  letter-spacing: 1px;
  margin: 5px 0;
}
.money-plus {
  color: #2ecc71;
}

.money-minus {
  color: #c0392b;
}
/* <---  Balance div */

.transitions {
  background-color: var(--peach);
}

.amount {
  position: relative;
}

.instruction {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: normal;
  color: rgb(208, 206, 206);
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  word-spacing: 4px;

  position: absolute;
  top: 5px;
  left: 8rem;
  background-color: rgb(62, 57, 57);
  width: 20rem;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-control:hover .instruction {
  opacity: 1;
}

.number-label {
  font-style: italic;
  font-size: 0.8rem;
}

.addNew {
  background-color: var(--monument);
  color: var(--cornHusk);
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

/* History ---> */
.history {
  background-color: var(--monument);
}

.list {
  list-style-type: none;
  padding: 0 1rem;
  margin-bottom: 40px;
}

.list li {
  background-color: #e7f2ff;
  box-shadow: var(--box--shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
/* <--- History */
