:root {
	/* palatte */
	--body-color: #223138;
	--font-color: #faf5da;
	--balance-bgc: #a79c77;

	--transition_bgc: #ff7779;
	--button-color: #ffda3e;
	--history-bgc: #10afc2;

	--plus-font: #5eaa72;
	--minus-font: #e47378;

	/* font family */
	--numbers-font: "Stardos Stencil", cursive;
	--title-font: "Josefin Sans", sans-serif;
	--body-font: "Carme", sans-serif;

	--box-shadow: 0 5px 5px rgb(0, 0, 0), 0 1px 2px rgb(0, 0, 0);
	--box-shadow1: 0 -5px 5px rgba(0, 0, 0, 0.438), 0 -1px 2px rgba(0, 0, 0, 0.24);
	--box-shadow2: 0 -5px 5px rgb(0, 0, 0), 0 -1px 2px rgb(0, 0, 0);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*  common style ---> */
body {
	background-color: var(--body-color);
	font-family: var(--body-font);
}

.numbers {
	font-family: var(--numbers-font);
}

h2 {
	text-align: center;
	border-bottom: 0.5px dashed var(--font-color);
	margin: 1rem 1rem 1rem 2rem;
	font-family: var(--title-font);
}

label {
	display: inline-block;
	margin: 5px 0;
	/* font-weight: 800; */
	font-family: var(--body-font);
}

input[type="text"],
input[type="number"] {
	border: 2px solid var(--transition_bgc);
	border-radius: 5px;
	display: block;
	font-size: 16px;
	padding: 8px;
	width: 100%;
	margin-bottom: 0.8rem;
	/* background-color: var(--transition_bgc); */
}

.btn {
	cursor: pointer;
	font-family: var(--body-font);
	font-weight: bold;
	box-shadow: var(--box-shadow);
	border: 0;
	display: block;
	margin: 10px 0 30px;
	border-radius: 6px;
	transition: 0.3s;
	color: var(--body-color);
}

.btn:hover {
	background-color: #ffe26f;
	box-shadow: var(--box-shadow2);
}
/* <--- common style */

.conatiner {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 100vh;
	margin: 1rem 0;
}

.conatiner > div {
	padding: 1rem;
	/* color: var(--font-color); */
}

/* Header div ---> */
header {
	text-align: end;
	width: 100%;
	height: 25vh;
	background-position: center;
	background-image: url(images/header-banner.jpg);
	background-size: cover;
	/* background-color: #223138; */
}

.header-text {
	background-color: #223138a3;
	width: 100%;
	height: 25vh;
	padding-right: 1rem;
	padding-top: 2rem;
}

.title {
	font-family: var(--title-font);
	font-weight: 500;
	font-size: 3rem;
	color: var(--font-color);
}

.sub-title {
	font-size: 1.1rem;
	padding-left: 1.2rem;
	padding-top: 2rem;
	color: var(--button-color);
}
/* <--- Header div */

/* Balance div ---> */
.balance {
	background-color: var(--balance-bgc);
	color: #404446;
	margin-top: 1rem;
}

#balance {
	font-size: 1.5rem;
}

#balanceDigit {
	font-size: 2.5rem;
	color: var(--body-color);
}

.balance-tracker {
	background-color: var(--font-color);
	box-shadow: var(--box-shadow1);
	padding: 20px;
	display: flex;
	justify-content: center;
	margin: 20px 0;
	border-radius: 5px;
}

.balance-tracker > div {
	flex: 1;
	text-align: center;
	line-height: 2rem;
}

.balance-tracker > div:first-of-type {
	border-right: 1px solid var(--body-color);
}

.money {
	font-size: 2;
	letter-spacing: 1px;
	margin: 5px 0;
}
.money-plus {
	color: var(--plus-font);
}

.money-minus {
	color: var(--minus-font);
}

#money-minus,
#money-plus {
	font-size: 1.5rem;
}
/* <---  Balance div */

.transitions {
	color: var(--transition_bgc);
	/* color: var(--body-color); */
}

.amount {
	position: relative;
}

.number-label {
	font-style: italic;
	font-size: 0.8rem;
}

.buttons {
	display: flex;
	gap: 2rem;
}

.formButton {
	background-color: var(--button-color);
	font-size: 16px;
	padding: 10px;
	flex: 1;
}

/* History ---> */
.history {
	color: var(--balance-bgc);
	margin-left: 1.4rem;
}

.reset {
	display: flex;
	justify-content: end;
}

.reset-btn {
	/* position: absolute;
	right: 1rem;
	top: 32%; */
	padding: 7px 15px;
	border-radius: 5px;
	background-color: var(--button-color);
	/* color: var(--font-color); */
}

.list {
	list-style-type: none;
	margin-bottom: 40px;
}

.list li {
	background-color: var(--body-color);

	border-radius: 0.5rem;
	/* font-weight: 600; */
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 7px 40px;
	margin: 1rem 0;

	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
}

.list li.plus {
	/* background-color: var(--plus-bgc); */
	color: var(--plus-font);
	border: 3px solid var(--plus-font);
}

.list li.minus {
	/* background-color: var(--minus-bgc); */
	color: var(--minus-font);
	border: 3px solid var(--minus-font);
}

.delete-btn {
	cursor: pointer;
	background-color: #e74c3c;
	border: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;

	color: #fff;
	font-size: 10px;
	line-height: 20px;
	padding: 2px 7px;
	position: absolute;
	top: 50%;
	left: 3px;
	transform: translate(-100%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
	opacity: 1;
}
/* <--- History */

/* Responsiveness ---> */
@media only screen and (min-width: 540px) {
	body {
		padding: 0 2rem;
	}
}

@media only screen and (min-width: 768px) {
	body {
		padding: 0 5rem;
	}
}

@media only screen and (min-width: 820px) {
	body {
		padding: 0 6rem;
	}
}

@media only screen and (min-width: 912px) {
}

@media only screen and (min-width: 1024px) {
	body {
		padding: 0 15rem;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		padding: 0 20rem;
	}
}
/* <----- */
